# The default config just connects to a single initial fakestack instance
events {
}

error_log /dev/stderr info;

http {
    access_log /dev/stderr;

    upstream fakestack {
#        server migrations_fakestack_1:8080;
#SERVERS_1
#SERVERS_2
    }

    server {
        listen 8080;

        location / {
            proxy_pass http://fakestack;
        }
    }
}

